<ion-view view-title="Reclamações" class="categories">
    <ion-content>

        <!-- <div class="titulo">
            <h1>Reclamações</h1>
        </div> -->

        <div class="row">
            <div class="col">
                <div class="list list-inset search">
                  <label class="item item-input">
                    <input type="text" placeholder="Digite sua reclamação aqui.">
                    <i class="icon fa fa-search placeholder-icon"></i>
                  </label>
                </div>
            </div>
        </div>
        <div class="row section">
            <h5>Ou escolhe uma categoria:</h5>
        </div>

        <div class="row">
            <div class="col">
                <div id="two-column" class="grid-container" style="display:block;">
                    <ul class="rig col-2">
                        <li class="" ng-repeat="category in categories" ng-click="selectCategory(category)">
                            <h2><i class="fa fa-2x" ng-class="category.icon" aria-hidden="true"></i></h2>
                            <h5>{{category.name}}</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>