<ion-view view-title="Reclamações" class="categories">
    <ion-content>

        <div class="row">
            <h1>Reclamações</h1>
        </div>


        <div class="row">
            <div class="col">
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search">
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
            <div id="two-column" class="grid-container" style="display:block;">
                <ul class="rig col-2">
                    <li class="" ng-repeat="category in categories" ng-click="selectCategory(category)">
                        <h2><i class="fa" ng-class="category.icon" aria-hidden="true"></i></h2>
                        <h5>{{category.name}}</h5>
                    </li>
                </ul>
            </div>
            </div>
        </div>

    </ion-content>
</ion-view>