<ion-view class="reclamacoes">
    <ion-content>

        <div class="row">
            <div class="col text-center">
                <h1><i class="fa" ng-class="currentCategory.icon" aria-hidden="true"></i></h1>
                <h2>{{currentCategory.name}}</h2>
                <h3>{{currentSubCategory.name}}</h3>
            </div>
        </div>

        <div class="row section">
            <div class="col">
                <h5>Escolha uma subcategoria:</h5>
            </div>
        </div>

        <div class="row opcoesCategorias">
            <div class="col">
                <ul class="list">
                    <li class="item" ng-repeat="reclamacao in reclamacoes " ng-click="selectReclamacao(reclamacao)">
                        <p>{{reclamacao.title}}</p>
                        <span>{{reclamacao.description}}</span>
                    </li>
                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>