<ion-view class="reclamacoes">
    <ion-content>

        <div class="row">
            <div class="col">
                <h2><i class="fa fa-bullhorn" aria-hidden="true"></i> {{reclamacao.title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{reclamacao.description}}</p>
            </div>
        </div>

<h3>Pra Quem Reclamar?</h3>
<div class="list">

    <a class="item">
      <h2>{{reclamacao.entity.name}}</h2>
      <p>{{reclamacao.entity.fone}}</p>
      <p>{{reclamacao.entity.email}}</p>
      <p>{{reclamacao.entity.url}}</p>
    </a>

</div>

    </ion-content>
</ion-view>