<ion-view class="subcategories">
    <ion-content>

        <div class="row">
            <div class="col text-center">
                <h1><i class="fa" ng-class="currentCategory.icon" aria-hidden="true"></i></h1>
                <h2>{{currentCategory.name}}</h2>
            </div>
        </div>

        <div class="row section">
            <div class="col">
                <h5>Escolha uma subcategoria:</h5>
            </div>
        </div>

        <div class="row opcoesCategorias">
            <div class="col">
                <ul class="list">
                    <li class="item" ng-repeat="subcategory in subcategories | subCatFilter:currentCategory.id" ng-click="selectSebCategory(subcategory)">
                        <span>{{subcategory.name}}</span>
                        <i class="fa fa-2x" ng-class="subcategory.icon" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>