<ion-view view-title="Pra Quem Reclamo?" class="home">
    <ion-content>

        <div class="row">
            <h1>Pra Quem Reclamo?</h1>
        </div>


        <div class="row">
            <div class="col">
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search">
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-full button-positive" ng-click="onBtnReclamacao()"><i class="fa fa-bullhorn" aria-hidden="true"></i> Reclamar !</button>
                <button class="button button-full button-calm"><i class="fa fa-map" aria-hidden="true"></i> Guia de Serviços</button>
                <button class="button button-full button-Balanced"><i class="fa fa-trophy" aria-hidden="true"></i> Top 10</button>
            </div>
        </div>


        <div class="bar bar-footer bar-balanced">
            <div class="title" ng-click="onOpenChooseCity()"><i class="fa fa-map-marker"></i> {{currentCity.name}}, {{currentCity.state}}</div>
        </div>

    </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view class="localization-modal">

        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Escolher uma cidade</h1>
            <button class="button button-clear button-primary" ng-click="cancelChooseCity()"><i class="fa fa-times" aria-hidden="true"></i></button>
        </ion-header-bar>

        <ion-content>
            <div class="list list-inset">

                <div class="item">
                    <ul class="list">
                        <li class="item" ng-repeat="city in cities" ng-click="selectCity(city)" ng-class="{'citySelected': selectedCity.id == city.id}">
                            {{city.name}}, {{city.state}}
                        </li>
                    </ul>
                </div>

                <div class="item">
                    <button class="button button-full button-positive" ng-click="saveChooseCity()">Escolher</button>
                </div>
            </div>
        </ion-content>

    </ion-modal-view>
</script>