<ion-view view-title="Pra Quem Reclamo?">
    <ion-content>

        <div class="row">
            <h1>Pra Quem Reclamo?</h1>
        </div>


        <div class="row">
            <div class="col">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-full button-positive">Reclamar !</button>
                <button class="button button-full button-positive">Guia de Serviços</button>
                <button class="button button-full button-positive">Top 10</button>
            </div>
        </div>


        <div class="bar bar-footer bar-balanced">
            <div class="title"><i class="fa fa-map-marker"></i> João Pessoa</div>
        </div>

    </ion-content>
</ion-view>