<ion-view view-title="Pra Quem Reclamo?" class="home">
    <ion-content>

        <div class="logo">
            <h1>Pra Quem Reclamo?</h1>
        </div>

        <div class="row">
            <div class="col">
                <div class="list list-inset search">
                  <label class="item item-input">
                    <input type="text" placeholder="Digite sua reclamação aqui.">
                    <i class="icon fa fa-search placeholder-icon"></i>
                  </label>
                </div>
            </div>
        </div>
        
        <div class="botaoCategorias">
            <h3>Ou navegue por categorias</h3>
            <br><br>
            <a href="">
                <i class="icon fa fa-compass placeholder-icon"></i>
            </a>
        </div>

        <div class="outrasOpcoes">
            <h4>Outras Opções</h4>
            <div class="row">
                <div class="col">
                    <!-- <button class="button button-full button-positive" ng-click="onBtnReclamacao()"><i class="fa fa-bullhorn" aria-hidden="true"></i> Reclamar !</button>
                    <button class="button button-full button-calm"><i class="fa fa-map" aria-hidden="true"></i> Guia de Serviços</button>
                    <button class="button button-full button-Balanced"><i class="fa fa-trophy" aria-hidden="true"></i> Top 10</button> -->
                    <a href="">
                        <i class="icon fa fa-bars placeholder-icon"></i>
                        <p>Guia de Serviços</p>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <i class="icon fa fa-list-ol placeholder-icon"></i>
                        <p>Top #10</p>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <i class="icon fa fa-plus-circle placeholder-icon"></i>
                        <p>Contribua</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="bar bar-footer">
            <div class="title" ng-click="onOpenChooseCity()"><i class="fa fa-map-marker"></i> {{currentCity.name}}, {{currentCity.state}}</div>
        </div>

    </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view class="localization-modal">

        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Escolher uma cidade</h1>
            <button class="button button-clear button-primary" ng-click="cancelChooseCity()"><i class="fa fa-times" aria-hidden="true"></i></button>
        </ion-header-bar>

        <ion-content>
            <div class="list list-inset">

                <div class="item">
                    <ul class="list">
                        <li class="item" ng-repeat="city in cities" ng-click="selectCity(city)" ng-class="{'citySelected': selectedCity.id == city.id}">
                            {{city.name}}, {{city.state}}
                        </li>
                    </ul>
                </div>

                <div class="item">
                    <button class="button button-full button-positive" ng-click="saveChooseCity()">Escolher</button>
                </div>
            </div>
        </ion-content>

    </ion-modal-view>
</script>