.categories .section {
    margin-top: 10px;
    text-align: center;
}

.categories .opcoesCategorias {
    padding: 0px;
}

.categories .opcoesCategorias .col{
    padding: 0px;
}

.categories .opcoesCategorias .col ul li {
    color: white;
    border: none;
    padding: 20px 30px;
}

.categories .opcoesCategorias .col ul li span{
    float: left;
    margin-top: 6px;
}

.categories .opcoesCategorias .col ul li i {
    float: right;
}

.categories .opcoesCategorias .col ul li:nth-child(1){
    background-color: #0BA7DA;
}

.categories .opcoesCategorias .col ul li:nth-child(2){
    background-color: #287CC2;
}

.categories .opcoesCategorias .col ul li:nth-child(3){
    background-color: #5153AA;
}

.categories .opcoesCategorias .col ul li:nth-child(4){
    background-color: #A534A6;
}

.categories .opcoesCategorias .col ul li:nth-child(5){
    background-color: #E878C0;
}

.categories .opcoesCategorias .col ul li:nth-child(6){
    background-color: #ED5774;
}

.categories .opcoesCategorias .col ul li:nth-child(7){
    background-color: #EF3F53;
}